

body {
  background-color: #2a3356;
  margin: 2%;
}

main {
  background-color: #e8e2e2;
  border-radius: 1px;
  padding: 10px;
  border:solid 12px #f35b25;
}

header {
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-size: 65px;
}

h1::after {
  content: "Changing the sport of dressage";
  font-size: 27px;
}

figure {
  text-align: center;
}

figcaption {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
}
p {
  font-family: 'Slabo 27px', serif;
  line-height: 23px;
}

h2 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  font-size: 20px;
  border: solid 2px #f35b25;
  width: 15%;
  padding: 4px;
  text-align: center;
  margin-left: 40%;
  line-height: 3px;
}

section {
  background-color: #fdfcfc;
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }

  @media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
