

body {
  background-color: #2a3356;
  margin: 2%;
}

#main {
  background-color: #e8e2e2;
  border-radius: 1px;
  padding: 10px;
  border:solid 12px #f35b25;
}

header {
  font-family: 'Bebas Neue', cursive;
}

#title {
  font-size: 65px;
}

h1::after {
  content: "Changing the sport of dressage";
  font-size: 27px;
}




#D {
  display: inline-block;

  width: 23px;
}

#img-o {
  display: inline-block;

  width: 37.5px;
}

#N {
  display: inline-block;

  width: 28px;
}

#img-div {
  text-align: center;
  border-bottom:  solid 2px #000b3d;


}

#image {
    max-width: 250px;
    width: 100%;
    display: block;
    margin: auto; <!-- center the image -->
}

#image {
  border: solid #000b3d 5px;
  border-radius: 2px;
  box-shadow: 4px 5px 20px 4px gray;


}

#img-caption {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  margin-top: 20px;
}

#tribute-info {
  padding-bottom: 10px;
    padding-top: 100px;
    margin-top: 35px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 100px;
    border-radius: 2px;
    background-color: #fdfcfc;
}
p {
  font-family: 'Slabo 27px', serif;
  line-height: 23px;
}

#headline {
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  font-size: 23px;
  border: solid 2px #f35b25;
  width: auto;
  padding: 4px;
  text-align: center;

  line-height: 3px;

}

#tribute-link {
  text-decoration: none;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

  @media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
